* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial';
  font-weight: 300;
  color: #333333;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.container {
  width: 85%;
  margin: auto;
  z-index: 2;
}

section {
  padding: 25px 0;
}

p {
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_links {
  max-width: 45%;
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_link {
  color: black !important;
  font-size: 18px;
  text-decoration: underline;
}

.header_link:visited {
  color: black !important;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wrapper__number {
  width: 180px;
  background-color: #027cc5;
  text-align: center;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 7px;
  margin-bottom: 10px;
  text-decoration: none;
}

.header-wrapper__phone {
  width: 180px;
  background-color: #ff6800;
  text-align: center;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 7px;
  text-decoration: none;
}

.header__logo {
  width: 100px;
}

.main {
  background: center/cover no-repeat url("/img/bg-1.jpg");
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__text {
  background-color: #fd7e2c;
  text-align: center;
  padding: 2px 5px;
  color: #ffffff;
}

.main__header {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}

.main__desc {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.main-block {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  background: #027ec5ce;
  padding: 15px 20px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #fff;
  text-align: center;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__title {
  text-decoration: underline;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.main-block__title_bold {
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-block__desc {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}

.main-block-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 30px 0 20px 0;
}

.main-block-inputs__input {
  width: 100%;
  font-size: 16px;
  border-radius: 7px;
  background: #FFF;
  border: 1px solid #818a91;
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}

.main-block__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background: #ff6800;
  border-radius: 7px;
  font-weight: 600;
  min-height: 47px;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
}

.meating {
  border-top: thick double #027cc5;
  border-bottom: thick double #027cc5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meating__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meating__wrapper__item {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.meating__wrapper__item__image {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  margin-right: 20px;
}

.meating__wrapper__item__text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.meating__wrapper__item__text__wrapper__text {
  font-weight: 600;
  font-size: 19px;
}

.meating__wrapper__item__text__wrapper__description {
  font-size: 16px;
}

.meating__title {
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}

.meating_bonusWrapper {
  text-align: center;
}

.meating__bonus {
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background: #ff6800;
  border-radius: 7px;
  font-weight: 600;
  min-height: 47px;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  margin: auto;
}

.mp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mp_element {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mp_element:last-child {
  margin-bottom: 20px;
}

.mp_title {
  background-color: #027ec5ce;
  text-align: center;
  width: 90%;
  padding: 2px 5px;
  color: #ffffff;
  font-size: 19px;
  margin: auto;
  margin-bottom: 10px;
}

.mp_price {
  text-align: center;
  font-size: 18px;
  color: black;
}

.mp_price span {
  font-size: 28px;
  font-weight: 600;
}

.mp_img {
  text-align: center;
  margin: auto;
  padding: 20px 0;
  width: 90%;
}

.mp_img img {
  border-radius: 20px;
}

.mp_more {
  background: #027ec5ce !important;
  min-height: 27px !important;
}

.mp_more_div {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.mp_btn {
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background: #ff6800;
  border-radius: 7px;
  font-weight: 600;
  width: 90%;
  min-height: 47px;
  padding: 7px 25px;
  font-size: 18px;
  border: none;
}

.cb {
  background-color: #027ec5ce;
}

.cb_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cb_title {
  text-align: center;
  padding: 2px 5px;
  color: #ffffff;
  font-size: 23px;
}

.cb_input {
  width: 100% !important;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_video_wrapper {
  text-align: center;
  width: 100%;
}

.block_title {
  text-align: center;
  width: 90%;
  padding: 2px 5px;
  font-size: 22px;
  margin: auto;
  margin-bottom: 10px;
}

.block_desc {
  text-align: center;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
}

.block_video {
  margin-bottom: 15px;
}

.block_img {
  padding: 20px;
  width: 100%;
}

.block_arrow {
  color: black;
  font-size: 14px;
}

@media (min-width: 550px) {
  .block_video {
    text-align: center;
    height: 400px;
    width: 60%;
  }
  .mp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-beetwen;
        -ms-flex-pack: space-beetwen;
            justify-content: space-beetwen;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mp_element {
    width: 400px;
    min-height: 400px;
  }
  .mp_title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .mp_btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-height: 37px;
  }
  .mp_img {
    width: 80%;
  }
  .mp_more_div {
    margin-bottom: 40px;
  }
  .cb_input {
    width: 40% !important;
    margin: auto;
  }
  .block_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block_img {
    width: 350px;
  }
  .block_href {
    width: 400px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .header_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */