.header
    padding: 8px 0
    display: flex
    justify-content: space-between
    align-items: center
    &-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        &__number
            width: 180px;
            background-color: $blue
            text-align: center
            height: 25px
            font-size: 16px
            line-height: 25px
            color: $white
            border-radius: 7px
            margin-bottom: 10px
        &__phone
            width: 180px;
            background-color: $orange
            text-align: center
            height: 25px
            font-size: 16px
            line-height: 25px
            color: $white
            border-radius: 7px
    &__logo
        width: 100px
    
// @media (max-width: 768px)
//     .container
//         max-width: 560px
//         width: 85%
//     .navbar
//         padding: 17px 0
//         &__img
//             display: block
//             width: 91px
//             height: auto
//         &__tell
//             display: none
//         &__button
//             font-size: 10px
//             padding: 15px 25px