.meating
    border-top: thick double $blue
    border-bottom: thick double $blue
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: center
        &__item
            max-width: 450px;
            display: flex
            justify-content: space-between
            align-items: center
            margin: 20px
            &__image
                width: 80px;
                height: 80px;
                border-radius: 60px
                margin-right: 20px
            &__text__wrapper
                display: flex
                flex-direction: column
                justify-content: space-evenly
                align-items: flex-start
                &__text
                    font-weight: 600
                    font-size: 19px
                &__description
                    font-size: 16px
    &__title
        font-size: 24px
        font-weight: 500
        padding: 20px
        text-align: center
    &_bonusWrapper
        text-align: center
    &__bonus
        cursor: pointer
        color: #FFF
        text-decoration: none
        text-align: center
        transition: .3s
        background: $orange
        border-radius: 7px
        font-weight: 600
        min-height: 47px
        padding: 15px 25px
        font-size: 18px
        border: none
        margin: auto